:root {
    --tan: #eac6a5;
    --white: #FFFFFF;
    --black: #000000;
    --brown: #512a01;
  }

 body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: verdana;
  }


li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  .light-theme {
    --bg: var(--tan);
    --fontColor: var(--brown);
    --btnBg: var(--brown);
    --btnFontColor: var(--tan);
  }
  .dark-theme {
    --bg: var(--brown);
    --fontColor: var(--tan);
    --btnBg: var(--tan);
    --btnFontColor: var(--brown);
  }

  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

